/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;



  
  
  
  

  .scrollama-container {
    width: 100%; /* Expand to full width */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
  }
  